<div class="container" align="center">
  <div *ngIf="!logged">
    <h3>
      Login to Debt Manager
    </h3>

    <div class="login-row">
      <!--<button (click)="socialSignIn('facebook')" title="Facebook" class="btn-facebook">-->
      <button (click)="socialSignIn('facebook')" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook!
      </button>
    </div>
    <!--<button class="btn-facebook" (click)="socialSignIn('facebook')">Sign in with Facebook</button>
    <button (click)="socialSignIn('google')">Sign in with Google</button>-->
  </div>
  <div *ngIf="logged">
    <h1>
      Hello
    </h1>
    <div>
      <p>Name: {{user.name}}</p>
      <p>Email: {{user.email}}</p>
      <p>Image</p>
      <img src="{{user.image}}">
    </div>
    <button (click)="signOut()" class="btn btn-block btn-lg login-row">Sign out
    </button>
  </div>
</div>
