<div class="alert alert-danger" [hidden]="!error">
  Problem z zalogowaniem się. Proszę spróbuj ponownie.
</div>
<!--<form role="form" (submit)="login()">
  <div class="form-group">
    <label for="username">Użytkownik:</label>
    <input type="text"
           class="form-control" id="username" name="username"
           [(ngModel)]="credentials.username"/>
  </div>
  <div class="form-group">
    <label for="password">Hasło:</label>
    <input type="password"
           class="form-control" id="password" name="password"
           [(ngModel)]="credentials.password"/>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
    <button type="button" class="btn btn-secondary" routerLink="/register">Zarejestruj</button>
  </div>
</form>-->

<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': !f.username.pristine && f.username.errors }"/>
    <div *ngIf="!f.username.pristine && !!f.username.errors" class="invalid-feedback">
      <div *ngIf="!!f.username.errors.required">Nazwa użytkownika jest wymagana</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': !f.password.pristine && f.password.errors }"/>
    <div *ngIf="!f.password.pristine && !!f.password.errors" class="invalid-feedback">
      <div *ngIf="!!f.password.errors.required">Hasło jest wymagane</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Zaloguj</button>
    <img *ngIf="loading"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    <a [routerLink]="['/register']" class="btn btn-link">Zarejestruj</a>
  </div>
</form>
